body {
  background-color: darkseagreen;
  font-family: Arial, sans-serif;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.business-card{
  width: 300px;
  background-color: darkolivegreen;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-image{
  max-width: 100%;
}